header{
    box-shadow: 0 2px 5px #dbdbdb;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
}

header > img{
    width: 90px;
    cursor: pointer;
}

header > div{
    transition: all 0.3s ease-out;
  background-color: var( --global-primary-color );
  border: 1px solid var( --global-primary-color );
  color:white;
  padding: 10px !important;
  cursor: pointer;
}
header > div:hover{
    color: var( --global-primary-color );
    border: 1px solid var( --global-primary-color );
    background-color:white;
}

@media (min-width: 800px) {
    header > img{
        width: 140px;
    }
    header > div{
        font-size: 18px;
    }
}