@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  font-family:"Nunito", sans-serif;
}

:root{
  --global-primary-color: #ff452b;
  --global-bg-color-soft: #fafafa;
  --global-radius:8px;
  --global-border:1px solid #5b5b5b;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


